/* Global Reset */
:root {
  --color-white: #ffffff;
  --color-secondary-white: #f7f7f7;
  --color-gray: #7e7e7e;
  --color-secondary-gray: #676767;
  --color-primary-black: #1e1e1e;
  --color-secondary-black: #0d1b39;
  --color-contact-black: #000000;
  --color-product-h3: #212b36;
  --color-product-p: #637381;
  --bg-btn: #2459b9;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}
header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #cacaca;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.whitespace {
  white-space: nowrap;
}
/* btn */
.btn {
  background-color: var(--bg-btn);
  color: var(--color-white);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.045);
}
.btn:active {
  transform: scale(1.045);
}

.btn-product {
  padding: 1rem 2.5rem;
}
.small {
  font-size: 1.25rem;
  padding: 1rem 2rem;
}
.medium {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
}
.large {
  padding: 1rem 4rem;
  font-size: 1.6rem;
}
.btn-primary {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--bg-btn);
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-secondary {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-secondary-black);
  white-space: nowrap;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link_all_btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-secondary-black);
  white-space: nowrap;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link_all_btn:hover {
  transform: scale(1.045) !important;
}
.btn-primary:hover,
.btn-secondary:hover {
  transform: scale(1.045) !important;
}

.link_all_btn:active {
  transform: scale(1.045) !important;
}
.btn-primary:active,
.btn-secondary:active {
  transform: scale(1.045) !important;
}

/* btn end */
.underline {
  display: block;
  width: 3rem;
  height: 1.5px;
  margin: 2rem auto;
  background-color: #24355f;
}
.heading-h1 {
  font-size: 4.8rem;
  text-align: center;
  font-weight: bold;
}
.heading-h2 {
  font-size: 4.2rem;
  font-weight: 600;
  color: var(--color-primary-black);
}
.heading-h3 {
  font-size: 3.5rem;
  font-weight: bold;
}
.heading-h4 {
  font-size: 2.8rem;
  font-weight: 600;
}
.heading-h5 {
  font-size: 2.4rem;
  font-weight: 600;
}
.product-grid-item-heading {
  color: var(--color-product-h3);
  line-height: 34px;
}
/* product para */
.product-p {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-product-p);
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 0 3rem;
}

.product-description {
  color: var(--color-product-p);
  letter-spacing: 0.5px;
  line-height: 1.5;
}
/* choose-us-p */
.choose-us-p {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: var(--color-primary-black);
  line-height: 2.5rem;
  opacity: 0.8;
}
@media screen and (max-width: 1024px) {
  .heading-h2 {
    font-size: 3.8rem;
  }
  .heading-h3 {
    font-size: 3.3rem;
  }
}
@media screen and (max-width: 768px) {
  .heading-h3,
  .heading-h4 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 468px) {
  .heading-h2 {
    font-size: 3rem;
    text-align: center;
  }
  .heading-h3,
  .heading-h4 {
    font-size: 1.7rem;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo:active {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:active {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loader {
  width: 50px;
  height: 50px;
  border: 4px solid #e5e7eb;
  border-top: 4px solid #f59e0b;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
