.hero {
  width: 100%;
  background-color: var(--color-secondary-white);
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.swiper {
  width: 100%;
  height: 55rem;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.swiper-slide {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
}
.swiper-slide-1 {
  background-image: url('/slider/slider-3.avif');
}
.swiper-slide-2 {
  background-image: url('/slider/slider-1.avif');
}
.swiper-slide-3 {
  background-image: url('/slider/slider-2.avif');
}
.swiper-slide-4 {
  background-image: url('/slider/slider-4.avif');
}
.slide-content {
  position: relative;
  color: var(--color-white);
  text-align: center;
  z-index: 1;
  margin-top: 10rem;
}
.slide-heading,
.slide-subheading {
  margin: 0 0 12px;
}

/* .slide-content button {
    background-color: var(--bg-btn);
    color: var(--color-white);
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
} */
.custom-arrow {
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  color: var(--color-primary-black);
  border-radius: 50%;
  position: absolute;
}
.custom-arrow svg {
  width: 1.5rem;
  height: 1.5rem;

  color: #716f6f;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}
.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  position: relative;
  background-color: transparent;
  opacity: 1;
  border: 1px solid var(--color-white);
}
.swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: calc(100% + 1.2rem);
  border: 2px solid var(--color-white);
  border-radius: 50%;
}
.swiper-pagination {
  bottom: 20px !important;
}
.hero-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 4rem 0;
}
.hero-item {
  color: var(--color-gray);
  font-size: 2.6rem;
}
@media screen and (max-width: 1024px) {
  .hero-item {
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .hero-item {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 480px) {
  .custom-arrow {
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
  }
  .hero-item {
    font-size: 1.5rem;
  }
}
