.whyUs {
  background-color: #f7f9ff;
}
.why-choose-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.why-choose-heading {
  text-align: center;
}

.why-us-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.why-us-grid-item {
  display: grid;
  grid-template-columns: 1.25fr 2fr;
  align-items: center;
  gap: 4rem;
}

.why-us-grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}
.choose-us-h4 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 134.1%;
  color: #101010;
}
.choose-us-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.choose-us-list li {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 2rem;
  opacity: 0.8;
  line-height: 36px;
  list-style: none;
}

.tick {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0.2rem;
  font-size: 1rem;
  background-color: #d9e5fa;
  color: var(--bg-btn);
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .why-us-grid-item {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .why-choose-heading {
    font-size: 1.5rem;
  }
  .why-us-grid {
    gap: 2rem;
  }
}
@media screen and (max-width: 468px) {
  .choose-us-h4 {
    font-size: 2rem;
  }
  .choose-us-list li {
    font-size: 1.6rem;
  }
}
