.contact {
  width: 100%;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 10rem;
}

.contact-grid-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 10vh;
}

.contact-grid-items > p:first-of-type {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 5px;
  color: var(--color-secondary-gray);
}

.contact-heading {
  color: var(--color-contact-black);
  line-height: 1.2;
}
.contact-grid-items h2 span {
  color: var(--bg-btn);
  font-weight: 550;
}

.contact-grid-items > p:last-of-type {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 39px;
  color: #363636;
}
.contact-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  color: #363636;
  line-height: 1.6;
}

.contact-icon {
  color: #2459b9;
  width: 2rem;
  height: 2rem;
  margin-top: 0.6rem;
  flex-shrink: 0;
}

.contact-info-item p {
  font-size: 2rem;
  margin: 0;
  line-height: 1.6;
}

.dotted-line {
  width: 100%;
  max-width: 55rem;
  margin: 1.2rem 0;
  border-top: 0.2rem dotted rgba(0, 0, 0, 0.2);
}
/* Form */
.contact-grid-items-form {
  border: 3px solid #d4d4d4;
  padding: 2rem;
  border-radius: 8px;
}

.contact-grid-items-form h4 {
  font-weight: bolder;
  font-size: 2.3rem;
  color: var(--color-contact-black);
  font-family: 'Manrope', sans-serif;
  text-align: center;
  margin: 2.5rem 0 3rem 0;
}

.input-box {
  margin-bottom: 1rem;
}

.input-box input,
.input-box select {
  border: 1px solid #cbd6e2;
  background-color: #f5f8fa;
  outline: none;
  width: 100%;
  padding: 1.5rem;
  border-radius: 4px;
  font-size: 1.625rem;
}

.input-box::placeholder {
  font-weight: 600;
  color: #4d4d4d;
}

.phone-input {
  display: flex;
  gap: 1rem;
}

.phone-input select {
  flex: 0 0 max-content;
}

.input-box label {
  display: block;
  font-size: 1.49rem;
  font-weight: 500;
  color: var(--color-contact-black);
  margin-bottom: 1rem;
}

.input-column {
  display: flex;
  gap: 3rem;
}

.input-column .input-box {
  flex: 1;
}

.contact-grid-items h4 {
  text-align: center;
}

.new-product {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.new-product > span:last-of-type {
  color: #2d4af1;
  font-size: 1.5rem;
  font-weight: 600;
}

.plus-icon {
  color: #2d4af1;
  border: 2px solid #2d4af1;
  font-weight: bold;
  border-radius: 50%;
  font-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.contact-form-btn {
  text-align: center;
}

.select-box {
  position: relative;
}

.select-box select {
  appearance: none; /* remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f5f8fa;
  border: 1px solid #cbd6e2;
  border-radius: 4px;
  width: 100%;
  padding: 1.5rem;
  padding-right: 3rem; /* space for arrow */
  font-size: 1.625rem;
}

/* CUSTOM ARROW */
.select-box::after {
  content: '';
  position: absolute;
  right: 2.5rem;
  top: 50%;
  width: 10px;
  height: 10px;
  pointer-events: none;
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}

/* .contact-form-btn button {
  background-color: var(--bg-btn);
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  padding: 1rem 4rem;
  border-radius: 6px;
  cursor: pointer;
} */

/* Partners Section */
.partners {
  width: 100%;
  background-color: var(--color-secondary-white);
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.partner-item {
  color: var(--color-gray);
  font-size: 2.6rem;
}

.partner-item:nth-child(1),
.partner-item:nth-child(6) {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.partner-item:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.partner-item:nth-child(3) {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.partner-item:nth-child(4) {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.partner-item:nth-child(5) {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
/* Make react-select match input box style */
.react-select__control {
  background-color: #f5f8fa !important;
  border: 1px solid #cbd6e2 !important;
  border-radius: 4px !important;
  padding: 4px !important;
  min-height: 5rem !important;
  height: 5.5rem !important;
  box-shadow: none !important;
}

.react-select__control--is-focused {
  border-color: #cbd6e2 !important;
  box-shadow: none !important;
}

.react-select__single-value {
  font-size: 1.3rem !important;
  color: #000 !important;
}

.react-select__indicator-separator {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .contact-grid {
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .contact-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .contact-grid-items-form {
    max-width: 100%;
  }

  .contact-heading {
    text-align: center;
  }

  .contact-grid-items p {
    text-align: center;
  }

  .contact-grid-items > p:last-of-type {
    font-size: 2rem;
  }

  .input-box input,
  .input-box select {
    padding: 1.3rem;
  }

  .input-column {
    flex-direction: column;
    gap: 1rem;
  }

  .phone-input {
    flex-direction: column;
    gap: 2rem;
  }
  .contact-info {
    margin-top: 0.7rem;
    padding-left: 0.7rem;
    align-items: flex-start;
  }

  .contact-info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.6rem;
  }

  .contact-icon {
    width: 23px;
    height: 23px;
    margin-top: 2px;
  }
  .contact-info-item p {
    font-size: 2rem;
    line-height: 1.5;
    padding-inline-end: 10rem;
  }

  .dotted-line {
    margin: 1.5em 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contact-heading {
    font-size: 2.5rem;
  }

  .contact-grid-items > p:last-of-type {
    font-size: 1.3rem;
    line-height: 20px;
  }

  .contact-grid-items-form {
    padding: 2rem 1rem;
  }

  .input-box input,
  .input-box select {
    padding: 1rem;
  }

  .contact-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.28rem;
  }

  .contact-info-item p {
    font-size: 1.38rem;
    line-height: 1.4;
    padding-right: 2rem;
  }

  .dotted-line {
    margin: 0.8rem 0;
  }
  .contact-info {
    gap: 1rem;
    align-items: flex-start;
    text-align: left;
    padding: 0 1rem;
  }
  .contact-info-item {
    gap: 0.5rem;
  }
}
