.contact {
  width: 100%;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 10rem;
  align-items: center;
}

.contact-grid-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-grid-items > p:first-of-type {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 5px;
  color: var(--color-secondary-gray);
}


.contact-heading{
  color: var(--color-contact-black);
  line-height: 1.2;
}
.contact-grid-items h2 span {
  color: var(--bg-btn);
  font-weight: 550;
}

.contact-grid-items > p:last-of-type {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 39px;
  color: #363636;
}
.contact-info {
  margin-top: 2rem;
}

.contact-info-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 1rem;
  color: #363636;
}

.contact-icon {
  color: #2459B9; 
  width: 18px;  
  height: 18px; 
  margin-top: 4px;
}


.dotted-line {
  width: 100%;
  max-width: 500px;
  margin: 1.5rem 0;
  border: none;
  border-top: 2px dotted rgba(0, 0, 0, 0.2);
}

/* Form */
.contact-grid-items-form {
  border: 3px solid #d4d4d4;
  padding: 2rem;
  border-radius: 8px;
}

.contact-grid-items-form h4 {
  font-weight: bolder;
  font-size: 2.3rem;
  color: var(--color-contact-black);
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin: 2.5rem 0 3rem 0;
}

.input-box {
  margin-bottom: 1rem;
}

.input-box input,
.input-box select {
  border: 1px solid #cbd6e2;
  background-color: #f5f8fa;
  outline: none;
  width: 100%;
  padding: 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
}

.input-box::placeholder {
  font-weight: 600;
  color: #4d4d4d;
}

.phone-input {
  display: flex;
  gap: 1rem;
}

.phone-input select {
  flex: 0 0 max-content;
}

.input-box label {
  display: block;
  font-size: 1.49rem;
  font-weight: 500;
  color: var(--color-contact-black);
  margin-bottom: 1rem;
}

.input-column {
  display: flex;
  gap: 3rem;
}

.input-column .input-box {
  flex: 1;
}

.contact-grid-items h4 {
  text-align: center;
}

.new-product {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.new-product > span:last-of-type {
  color: #2d4af1;
  font-size: 1.5rem;
  font-weight: 600;
}

.plus-icon {
  color: #2d4af1;
  border: 2px solid #2d4af1;
  font-weight: bold;
  border-radius: 50%;
  font-size: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.contact-form-btn {
  text-align: center;
}

/* .contact-form-btn button {
  background-color: var(--bg-btn);
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  padding: 1rem 4rem;
  border-radius: 6px;
  cursor: pointer;
} */

/* Partners Section */
.partners {
  width: 100%;
  background-color: var(--color-secondary-white);
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.partner-item {
  color: var(--color-gray);
  font-size: 2.6rem;
}

.partner-item:nth-child(1),
.partner-item:nth-child(6) {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.partner-item:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.partner-item:nth-child(3) {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.partner-item:nth-child(4) {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.partner-item:nth-child(5) {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .contact-grid {
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .contact-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .contact-grid-items-form {
    max-width: 100%;
  }

  .contact-heading{
    text-align: center;
  }

  .contact-grid-items p {
    text-align: center;
  }

  .contact-grid-items > p:last-of-type {
    font-size: 2rem;
  }

  .input-box input,
  .input-box select {
    padding: 1.3rem;
  }

  .input-column {
    flex-direction: column;
    gap: 1rem;
  }

  .phone-input {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-heading {
    font-size: 2.5rem;
  }

  .contact-grid-items > p:last-of-type {
    font-size: 1.3rem;
    line-height: 20px;
  }

  .contact-grid-items-form {
    padding: 2rem 1rem;
  }

  .input-box input,
  .input-box select {
    padding: 1rem;
  }
}
