nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-brand {
  width: 10rem;
}

.menu-icons {
  display: none;
}

.close i {
  color: #eb648c;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav-link {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 1.2rem 1.5rem;
  border-radius: 15px;
  color: #111111;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.nav-link:hover {
  transform: scale(1.075);
}

.nav-link:active {
  transform: scale(1.075);
}

.nav-link.active {
  background-color: #e5e5e5;
}
.disable-link {
  pointer-events: none;
}

.whitespace {
  white-space: nowrap;
}

.nav-item.dropdown {
  position: relative;
}

.dropdown-card {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 480px;
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 20px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  padding: 1.5rem 2rem;
  z-index: 999;
}

.dropdown-card.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-column {
  width: 48%;
}

.dropdown-column h4 {
  font-weight: 600;
  font-size: 1.25rem;
  color: #000000;
  margin-bottom: 0.8rem;
  padding-bottom: 0.4rem;
}

.dropdown-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-column li {
  margin-bottom: 0.5rem;
  font-size: 1.35rem;
  color: #2f2f2f;
  cursor: pointer;
  transition: color 0.5s ease;
}

.dropdown-column li:hover {
  color: #2a2f8f;
}
.dropdown-column li:active {
  color: #2a2f8f;
}
.dropdown-column .divider {
  border-top: 0.5px solid #e1e1e1;
  margin-top: 0.8rem;
  padding-top: 0.6rem;
}
.dropdown-column:not(:last-child) {
  border-right: 0.5px solid #e1e1e1;
  padding-right: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 800px) {
  header {
    height: auto;
  }
  nav {
    justify-content: space-between;
  }
  .menu-icons {
    display: block;
    font-size: 3.5rem;
    cursor: pointer;
  }
  .nav-cta {
    display: none;
  }
  .nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #abc8ff;
    position: fixed;
    top: 0;
    right: -30rem;
    flex-direction: column;
    transition: all 650ms ease-in-out;
    z-index: 10;
  }
  .nav-list.active {
    right: 0;
  }

  .close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }
  .nav-item {
    margin: 1.5rem 0;
    padding: 0;
    border-radius: 0;
  }
  .nav-link.active {
    background: transparent;
    color: #2a2f8f;
  }
  .nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
  }
  .dropdown-card {
    display: none;
  }
  .dropdown-card {
    position: static;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    margin-top: 1.2rem;
    border-radius: 10px;
  }
  .dropdown-column {
    width: 100%;
    border: none !important;
  }
  .nav-item.dropdown {
    position: static;
  }
  .dropdown-column li {
    font-size: 0.95rem;
  }
  .dropdown-column h4 {
    font-size: 1.1rem;
  }
}
