.about-underline {
  margin-top: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  border-bottom: 3px dashed #bababa;
}
/* .line{
  width: 10px;
  height: 2px;
  background-color: #BABABA;
} */

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4.5rem 0;
}
.about-hero-h1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.375;
  color: var(--color-product-h3);
  text-align: center;
  max-width: 900px;
}
.about-h1 {
  font-weight: 600;
  color: var(--bg-btn);
}
.about-hero-h5 {
  color: var(--color-primary-black);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 185%;
  text-align: center;
  max-width: 900px;
  opacity: 0.8;
}
.about-p {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 5px;
  color: var(--color-secondary-gray);
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-hero-h1 {
    font-size: 3.5rem;
  }

  .about-hero-h5 {
    font-size: 2rem;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2.5rem 0;
  }
}
@media screen and (max-width: 468px) {
  .about-hero-h1 {
    font-size: 3.3rem;
  }
}
